<h1>Taller de <%= @nombre%></h1>
<p> <%=@description %></p>
<div>
    <button><a href="/<%=@nombre%>/edit">Editar</a> </button>
    <form action="<%= @nombre%>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Borrar taller">
    </form>
</div>
